<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="PMSMService"
					  address="net.tcp://localhost:4002/ServicePMSM"
					  binding="netTcpBinding"
					  contract="Common.IPMSMService"></endpoint>
		</client>
	</system.serviceModel>
</configuration>