<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DataPath1" value="..\..\..\Data\measurements_session.csv"/>
		<add key="DataPath2" value="..\..\..\Data\rejects.csv"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="Server.PMSMService">
				<endpoint address="ServicePMSM"
						  binding="netTcpBinding"
						  contract="Common.IPMSMService">
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4002"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>